
  <!-- About Section -->
  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="aboutus">About Us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p class="aboutus">Design my Day is an investigation into the use of artificial intelligence and machine learning to enhance self-efficacy.</p>
          <p class="aboutus">Our mission is to help millions of people connect, <span class="thick">do something, and feel better</span>.</p>
        </div>
      </div>
    </div>
  </section>
