
  <!-- About Section -->
  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="aboutus">About Us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p class="aboutus">Design my Day is an interactive web app with thousands of actionable ideas harnessed from a trusted community to brighten your day and help others do the same. We have a diverse team of experienced entrepreneurs from six countries, including a community builder, health and well-being happiness coaches, an artificial intelligence developer, an illustrator and a marketing expert. Our mission is to help millions of people connect, do something, and feel better.</p>
        </div>
      </div>
    </div>
  </section>
