<% if(!user) { %>
  <% layout( 'layout' ) -%>
  <%- partial('nav') %>
<% } else { %>
  <% layout( 'login-layout' ) -%>
  <%- partial('login-nav') %>
<% } %>

<div class="tos">
<h1>Design My Day DMCA Copyright Policy</h1>
<p>
Design My Day respects the intellectual property rights of others.  It is our policy, in appropriate circumstances and at our discretion, to disable and/or terminate the accounts of users who may infringe or repeatedly infringe the copyrights or other intellectual property rights of others.
</p>
<p>
Notice for Claims of Intellectual Property Violations and Agent for Notice
</p>
<p>
Our agent for notice of claims of copyright or other intellectual property infringement can be reached as follows:
</p>
<p>
By mail
Attn: Copyright Agent
Design My Day
68 Fox Ave
Schenectady, NY 12304
United States
</p>
<p>
By phone
+1 (805) 380-5253
</p>
<p>
<p>
By email
info@designmyday.co
</p>
<p>
If you believe that your work has been copied in a way that constitutes copyright infringement, or that your intellectual property rights have been otherwise violated, please provide our Copyright Agent with a notice containing the following information:
<ul class="tos">
<li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;</li>
<li>a description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
<li>a description of where the material that you claim is infringing is located on our website, with enough detail that we may find it on the website;</li>
<li>your address, telephone number, and email address;</li>
<li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright or intellectual property owner, its agent, or the law; and</li>
<li>a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.</li>
</ul>
</div>
