<% if(!user) { %>
<% layout( 'layout' ) -%>
<%- partial('nav') %>
<% } else { %>
<% layout( 'login-layout' ) -%>
<%- partial('login-nav') %>
<% } %>

<div class="container">

  <div class="alert alert-warning" role="alert" style="margin-top: 60px;">
    If you cannot find an answer to your question, please contact us.
  </div>

  <div class="panel-group" id="accordion">
    <div class="faqHeader">General questions</div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">Is the app free?</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
        <div class="panel-body">
          Yes!
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Do you have native app verions of the app for iPhone, Android or other devices?</a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          Not yet. We have native app versions under construction, but have worked hard to make the app work through web browsers and look nice on all devices. If you have a device where the app does not work or look nice, please send us a note.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How can I edit my profile?</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          We do not yet have the account profile edit feature deployed. Until we do, just contact us with your requested change and we will make the change manually.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How do I cancel my account?</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          You can contact us and let us know to cancel the account and we will do so.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Can I adjust privacy settings to control what people see about me?</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          We do not ever share your email address with anyone in the app or otherwise. In general, our principle is to keep the app fairly anonymous. However, sometimes people still would like to be more private in their usage. We do not yet have a feature that lets you hide information related to your username from other users. If you would like to see this feature, please contact us.
        </div>
      </div>
    </div>

  </div>

  <div class="panel-group" id="accordion">
    <div class="faqHeader">App Questions</div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What do I do first?</a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          Click the Help Someone button and follow the instructions on the screen to vote for an activity for someone in your community. By voting or adding a new activity, you are helping to decide what recommendations that person will get for activities to do.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9">What is the basic idea?</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
        <div class="panel-body">
        <p>
          The idea is to crowdsource personalized activity ideas. We do this by having you vote for activities for someone else when you click the Help Someone button.
        </p>
        <p>
          The second part is to get the activity ideas from the crowd based on how you are feeling when you click the Get Ideas button. You say how you are feeling and then you get the three activity recommendations to choose from.
        </p>
        <p>
          We don’t really want people spending a lot of time in the app and just want to give them ideas and have them go do them. We believe that is a great way to start feeling better.
        </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How does it work?</a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          The app asks a bunch of people in your local community what they think you should do today based on how you are feeling, your age, etc. It then gathers all the votes and figures out the best recommendations for you. When you vote, you help the app make better recommendations. When you add activities, you help the community have more variety. When you provide feedback, you help others know how it felt to do the activity.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">What do the favorite or done this icons do?</a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">
        <p>
          The favorite icon on each activity is there to help you mark that you like an activity while you are browsing the list of activities. While your community may not recommend that activity right away, you might want to remember your favorites so that you can go do them anyway.
        </p>
        <p>
          The done this icon on each activity is there to help you keep track of which activities you have already done. Beyond helping you remember activities you have already completed, the app will not recommend activities for you that you have already done.
        </p>
        </div>
      </div>
    </div>

  </div>

</div>
