    <section class="section-features text-xs-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-pen display-1"></span>
                <h4 class="card-title">Thousands</h4>
                <h6 class="card-subtitle text-muted">of activity ideas</h6>
                <p class="card-text">Doing something, even something very small, is a fantastic way to escape negative thoughts and feelings. Since it is sometimes hard to think of new ideas while stuck, we crowd-source ideas from others.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-thunderbolt display-1"></span>
                <h4 class="card-title">Community</h4>
                <h6 class="card-subtitle text-muted">A tribe there to help</h6>
                <p class="card-text">We bring together people in your local area to help each other. People suggest new activities, vote for their favorites and share testimonials on what helped them.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card m-b-0">
              <div class="card-block">
                <span class="icon-heart display-1"></span>
                <h4 class="card-title">Free</h4>
                <h6 class="card-subtitle text-muted">Helpful for everyone</h6>
                <p class="card-text">Our easy to use app works on most devices and is free. Our aim is to get you an idea quick and get you out there doing something and feeling better.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
