    <section class="section-features text-xs-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-pen display-1"></span>
                <h4 class="card-title">Artificial Intelligence</h4>
                <h6 class="card-subtitle text-muted">Advanced Capabilities</h6>
                <p class="card-text">Integrating state-of-the-art technologies to harness the latest coaching approaches.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-heart display-1"></span>
                <h4 class="card-title">Self-efficacy Focus</h4>
                <h6 class="card-subtitle text-muted">Improvement</h6>
                <p class="card-text">Enhance beliefs about your ability to do things. Approach challenges from a place of strength rather than with fear of a potential threat that should be avoided.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card m-b-0">
              <div class="card-block">
                <span class="icon-thunderbolt display-1"></span>
                <h4 class="card-title">Machine Learning</h4>
                <h6 class="card-subtitle text-muted">Natural Language Conversations</h6>
                <p class="card-text">Short and interesting interactions to help enrich your day.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
