<% layout( 'login-layout' ) -%>
<%- partial('login-nav') %>

    <section id="feeling">

      <div class="header-text" id="feeling-text">
        <p>
          Today I'm Feeling:
        </p>
      </div>
      <table id="feeling">
        <tr>
          <td><a name="worried"><img src="/img/worried.gif" alt="worried feeling" /></a></td>
          <td><a name="emotional"><img src="/img/emotional.gif" alt="emotional feeling" /></a></td>
          <td><a name="unfocused"><img src="/img/unfocused.gif" alt="unfocused feeling" /></a></td>
        </tr>
        <tr>
          <td><a name="bored"><img src="/img/bored.gif" alt="bored feeling" /></a></td>
          <td><a name="stressed"><img src="/img/stressed.gif" alt="stressed feeling" /></a></td>
          <td><a name="lethargic"><img src="/img/lethargic.gif" alt="lethargic feeling" /></a></td>
        </tr>
        <tr>
          <td><a name="angry"><img src="/img/angry.gif" alt="angry feeling" /></a></td>
          <td><a name="isolated"><img src="/img/isolated.gif" alt="isolated feeling" /></a></td>
          <td><a name="fine"><img src="/img/fine.gif" alt="fine feeling" /></a></td>
        </tr>
      </table>

    </section>

    <script>
      $(document).ready(function() {
        prepareFeelings();
      });
    </script>
