      <div id="cd-reset-password"> <!-- reset password form -->
        <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

        <form class="cd-form" role="form" action="/forgot" method="post" accept-charset="utf-8">
          <p class="fieldset">
            <label class="image-replace cd-email" for="email">E-mail</label>
            <input class="full-width has-padding has-border" name="email" id="email" type="email" placeholder="E-mail" autofocus>
            <span class="cd-error-message">Error!</span>
          </p>

          <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Reset password">
          </p>
        </form>

        <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
      </div> <!-- cd-reset-password -->
