<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Design My Day is an investigation into the use of artificial intelligence and machine learning to enhance self-efficacy.">
  <meta name="author" content="Design My Day">

  <title>Design My Day - Personalized Life Guidance</title>

  <style type="text/css">
    .ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
      font-weight: normal;
      margin: -1px;
      text-align:left;
      font-size:14px;
    }
    .ui-autocomplete-loading { background: white; }
    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 1033 !important
    }
  </style>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <meta name="theme-color" content="#663fb5">
  <link href="/css/landio.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
