    <section class="section-pricing bg-faded text-xs-center">
      <div class="container">
        <h3>How it works</h3>
        <div class="row p-y-3">
          <div class="col-md-4 p-t-md wp wp-5">
            <div class="card pricing-box">
              <div class="card-header text-uppercase">
                Vote
              </div>
              <div class="card-block">
                <p class="card-title">Voting for the activity you think another user should do today.</p>
                <img src="//designmyday.s3.amazonaws.com/foo33_1460065643311_good-idea.jpg" alt="Activity Ideas" />
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item">Suggest something new</li>
                <li class="list-group-item">Browse the existing ideas</li>
                <li class="list-group-item">Vote based on how the user feels</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 stacking-top">
            <div class="card pricing-box pricing-best p-x-0">
              <div class="card-header text-uppercase">
                Pick
              </div>
              <div class="card-block">
                <p class="card-title">Tell how you are feeling and receive idea suggestions for what to do today.</p>
                <img src="//designmyday.s3.amazonaws.com/foo33_1460065522205_girl-choose.jpg" alt="Get Suggestion" />
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item">Select a feeling</li>
                <li class="list-group-item">Pick how intense your feeling is</li>
                <li class="list-group-item">Get suggestions and pick your favorite</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 p-t-md wp wp-6">
            <div class="card pricing-box">
              <div class="card-header text-uppercase">
                Do
              </div>
              <div class="card-block">
                <p class="card-title">Go do something feel better!<br /><br /></p>
                <img src="//designmyday.s3.amazonaws.com/foo33_1460066191489_biking.jpg" alt="Do Something Feel Better" />
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item">Put away your device</li>
                <li class="list-group-item">Go do the suggested activity</li>
                <li class="list-group-item">Share a testimonial with the community</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
