<% layout( 'layout' ) -%>
<script src="/js/modernizr.js"></script>
<script src="/js/main.js"></script>
<% if(!user) { %>

  <div id="layout">
    <div id="login-buttons">
      <nav class="main-nav">
        <ul>
          <li><a class="cd-signin" href="#0">Sign in</a></li>
          <li><a class="cd-signup" href="#0">Sign up</a></li>
        </ul>
      </nav>
    </div>
    <img id="layout-back" src="/img/layout.jpg" />
  </div>

  <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
      <ul class="cd-switcher">
        <li><a href="#0">Sign in</a></li>
        <li><a href="#0">Sign up</a></li>
      </ul>

      <div id="cd-login"> <!-- log in form -->
        <form class="cd-form" role="form" action="/login" method="post" accept-charset="utf-8">
          <p class="fieldset">
            <label class="image-replace cd-username" for="username">Username:</label>
            <input type="text" name="username" class="full-width has-padding has-border" id="username" placeholder="username" />
            <span class="cd-error-message">Error message here!</span>
          </p>
          <p class="fieldset">
            <label class="image-replace cd-password" for="password">Password:</label>
            <input type="password" name="password" class="full-width has-padding has-border" id="password" placeholder="password" />
            <span class="cd-error-message">Error message here!</span>
          </p>
          <p class="fieldset">
            <input type="submit" value="Log In" class="full-width has-padding" />
          </p>
        </form>

        <!-- <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p> -->
        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-login -->

      <div id="cd-signup"> <!-- sign up form -->
        <form class="cd-form" role="form" action="/register" method="post" accept-charset="utf-8">
          <p class="fieldset">
            <label class="image-replace cd-email" for="email">Email:</label>
            <input type="text" name="email" class="full-width has-padding has-border" id="email" placeholder="email" />
            <span class="cd-error-message">Error message here!</span>
          </p>
          <p class="fieldset">
            <label class="image-replace cd-username" for="username">Username:</label>
            <input type="text" name="username" class="full-width has-padding has-border" id="username" placeholder="username" />
            <span class="cd-error-message">Error message here!</span>
          </p>
          <p class="fieldset">
            <label class="image-replace cd-password" for="password">Password:</label>
            <input type="password" name="password" class="full-width has-padding has-border" id="password" placeholder="password" />
            <span class="cd-error-message">Error message here!</span>
          </p>
          <p class="fieldset">
            <input type="submit" value="Register" class="full-width has-padding" />
          </p>
        </form>

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-signup -->

      <div id="cd-reset-password"> <!-- reset password form -->
        <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

        <form class="cd-form">
          <p class="fieldset">
            <label class="image-replace cd-email" for="reset-email">E-mail</label>
            <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
            <span class="cd-error-message">Error message here!</span>
          </p>

          <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Reset password">
          </p>
        </form>

        <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
      </div> <!-- cd-reset-password -->
      <a href="#0" class="cd-close-form">Close</a>
    </div> <!-- cd-user-modal-container -->
  </div> <!-- cd-user-modal -->

<% } else { %>
  <div id="layout">
    <h1>Coming Soon!</h1>
    <p>You are currently logged in as <%= user.username %>
    <a href="/logout">Logout</a>
    <div>
      <img src="/img/dmd-logo.jpg" alt="Design My Day" />
    </div>
  </div>
<% } %>
