<% if(!user) { %>
  <% layout( 'layout' ) -%>
  <%- partial('nav') %>

  <section id="layout">
    <span id="beta">(limited beta opening soon, reserve your spot)</span>
    <br />
    <img id="layout-back" src="/img/layout.jpg" />
  </section>

<% } else { %>
  <% layout( 'login-layout' ) -%>
  <%- partial('login-nav') %>

    <section id="layout">
      <h1>Limited Beta Opening Soon!</h1>
      <p>You are currently logged in as <%= user.username %>
      <a href="/logout">Logout</a>
      <div>
        <img src="/img/dmd-logo.jpg" alt="Design My Day" />
      </div>
    </section>

<% } %>
