<% layout( 'layout' ) -%>
<% if(!user) { %>

  <%- partial('nav') %>

  <section id="layout">
    <span id="beta">(limited beta opening soon, reserve your spot)</span>
    <br />
    <img id="layout-back" src="/img/layout.jpg" />
  </section>

  <section id="pitch">
    <div class="container">
      <p>
      We won <strong><a href="https://www.facebook.com/startupweekendbali/" target="_blank">Startup Weekend Bali 2015</a>!</strong></p>
      <img src="/img/suwbali.jpg" alt="Startup Weekend Bali 2015" />
      <p>
      Keep the momentum going by voting for us for Global Startup Battle 2015.
      <br />
      Vote once per day per track until December 4th. Every little bit counts and we very much appreciate your support!
      </p>
      <p>
        Champions Track: <a href="https://app.reviewr.com/gsb/pitch?evtid=1305517&group=1305626&subid=1350638" target="_blank">Vote Now!</a>
      </p>
      <p>
        Innovators Track: <a href="https://app.reviewr.com/gsb/pitch?evtid=1305517&group=1328727&subid=1350981" target="_blank">Vote Now!</a>
        |
        Great in the Making Track: <a href="https://app.reviewr.com/gsb/pitch?evtid=1305517&group=1328726&subid=1349335" target="_blank">Vote Now!</a>
      </p>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9CWL3DrGo1g" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>
      An initiative created by Startup Weekend, <a href="http://www.globalstartupbattle.co" target="_blank">Global Startup Battle</a> aims to generate a stronger global community of entrepreneurs through the largest startup competition in the world. During the weekend prior to and following Global Entrepreneurship Week, hundreds of Startup Weekend and other Techstars Startup programs are hosted around the world and winning teams from each event move forward to compete with one another via a global video competition. Global Startup Battle enriches the global entrepreneurial community by creating a sense of inclusion between startup teams around the world.
      </p>
    </div>
  </section>

<% } else { %>
  <section id="layout">
    <h1>Limited Beta Opening Soon!</h1>
    <p>You are currently logged in as <%= user.username %>
    <a href="/logout">Logout</a>
    <div>
      <img src="/img/dmd-logo.jpg" alt="Design My Day" />
    </div>
    <div>
      <h3>Visit <a href="https://design-my-day.quickmvp.com">this page</a> to learn more.</h3>
    </div>
  </section>
<% } %>
