<% layout( 'layout' ) -%>

<% if(!user) { %>
  <a href="/login">Login</a>
  <br />
  <a href="/register">Register</a>
<% } else { %>
  <p>You are currently logged in as <%= user.username %>
  <a href="/logout">Logout</a>
<% } %>
