    <section class="section-intro text-xs-center">
      <div class="container">
        <h3 class="wp wp-1">Your life is a series of choices</h3>
        <p class="wp wp-2">
          <ul>
            <ul>Do you know who you are today?</ul>
            <ul>Do you know who you want to be in the future?</ul>
            <ul>Do you know what you want to do?</ul>
            <ul>Design your days and live an intentional life.</ul>
          </ul>
        </p>
        <h3 class="wp wp-1">Have you experienced the funk?</h3>
        <p class="wp wp-2">
          <ul>
            <li>Feeling depressed? Feeling helpless? Feeling discouraged?</li>
            <li>We’ve all been there. The things that normally make you happy begin to bring you down.</li>
            <li>You cannot seem to understand why.</li>
          </ul>
        </p>
        <img id="molly" src="/img/molly-399x250.png" alt="Design My Day Molly" class="img-fluid wp wp-3 text-center" />
        <h3 class="wp wp-1">Let's explore a way forward</h3>
        <p class="wp wp-2">
        Doing something, even something very small, is a fantastic way to escape negative thoughts and feelings. Sometimes hard to think of new ideas while stuck, we crowd-source ideas from others.
        </p>
      </div>
    </section>
