    <section class="section-intro text-xs-center">
      <img id="molly" src="/img/dmd-blackwhite.png" alt="Design My Day logo" class="img-fluid wp wp-3 text-center" />
      <div class="container">
        <h3 class="wp wp-1">Personalized Life Guidance</h3>
        <p class="wp wp-2">
          Design My Day is an investigation into the use of artificial intelligence and machine learning technologies to help people improve their self-efficacy and their lives.
        </p>
      </div>
    </section>
