    <section class="section-intro bg-faded text-xs-center">
      <div class="container">
        <h3 class="wp wp-1">Are you in a temporary funk?</h3>
        <p class="lead wp wp-2">Feeling depressed? Feeling helpless? Feeling discouraged?<br />
        We’ve all been there. The things that normally make you happy begin to bring you down. You cannot seem to understand why.
        </p>
        <img id="molly" src="img/molly-399x250.png" alt="Design My Day Molly" class="img-fluid wp wp-3 text-center">
        <h3 class="wp wp-1">We have a way forward</h3>
      </div>
      <img src="img/design-mock.jpg" alt="Design My Day ipad app" class="img-fluid wp wp-3">
      <img id="molly" src="img/dmd-logo-round.png" alt="Design My Day logo" class="img-fluid wp wp-3 text-center">
    </section>
