<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Design my Day is an interactive web app with thousands of actionable ideas harnessed from a trusted community to brighten your day and help others do the same.">
  <meta name="author" content="Design My Day">

  <title>Design My Day</title>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/css/freelancer.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body id="page-top">

  <%- body %>

  <%- partial('about') %>
  <%- partial('footer') %>

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="/js/classie.js"></script>
  <script src="/js/cbpAnimatedHeader.js"></script>

  <script src="/js/freelancer.js"></script>

  <script src="/js/modernizr.js"></script>
  <script src="/js/main.js"></script>

  <noscript>Javascript is disable - <a href="http://www.webestools.com/">http://www.webestools.com/</a> - <a href="http://www.webestools.com/ribbon-generator-web20-free-online-quickribbon-generator.html">Diagonal Ribbon Generator</a></noscript><script type="text/javascript" src="http://services.webestools.com/ribbons/ribbon.js?texte=Click%20to%20Vote%20Now%20%20%20%20%20%20%20%20%20%20&lien=https%3A%2F%2Fapp.reviewr.com%2Fgsb%2Fpitch%3Fevtid%3D1305517%26group%3D1305626%26subid%3D1350638&color=%23ffffff&type=fixed&pos=left&size=20&font=oswald&style=16"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70795803-1', 'auto');
    ga('send', 'pageview');

  </script>

</body>
</html>
