      <div id="cd-login"> <!-- log in form -->
        <form class="cd-form" role="form" action="/login" method="post" accept-charset="utf-8">
          <p class="fieldset">
            <label class="image-replace cd-username" for="username">Username:</label>
            <input type="text" name="username" class="full-width has-padding has-border" id="username" placeholder="username" autofocus />
            <span class="cd-error-message">Error!</span>
          </p>
          <p class="fieldset">
            <label class="image-replace cd-password" for="password">Password:</label>
            <input type="password" name="password" class="full-width has-padding has-border" id="password" placeholder="password" />
            <span class="cd-error-message">Error!</span>
          </p>
          <p class="fieldset">
            <input type="submit" value="Sign In" class="full-width has-padding" />
          </p>
        </form>

        <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-login -->
