<% layout( 'layout' ) -%>

<%- partial('nav') %>

  <section id="news">
    <h5><a href="http://e27.co/mental-health-app-design-day-wins-startup-weekend-bali-20151123/" target="_blank">Mental health app Design My Day wins Startup Weekend Bali</a></h5><br />
    <p class="newsmeta">The Bali-based startup beat 11 other ideas in the weekend-long event
    <br />
    By Anisa Menur 23 Nov, 2015</p>
    <a href="http://e27.co/mental-health-app-design-day-wins-startup-weekend-bali-20151123/" target="_blank"><img src="/img/e27-article.jpg" /></a>
  </section>
