<% layout( 'layout' ) -%>

<%- partial('nav') %>

  <section id="news">
    <div class="news-headline">
      <h5><a href="http://e27.co/mental-health-app-design-day-wins-startup-weekend-bali-20151123/" target="_blank">Mental health app Design My Day wins Startup Weekend Bali</a></h5>
      <p class="newsmeta">The Bali-based startup beat 11 other ideas in the weekend-long event
      <br />
      By Anisa Menur 23 Nov, 2015</p>
      <a href="http://e27.co/mental-health-app-design-day-wins-startup-weekend-bali-20151123/" target="_blank"><img src="/img/e27-article.jpg" alt="e27 article" /></a>
    </div>
    <div class="news-headline">
      <h5><a href="http://www.kumpul.co/en/blog/read/98011916/coworking-startups-pizza-and-beer" target="_blank">Coworking, startups, pizza and beer</a></h5>
      <p class="newsmeta">Kumpul Coworking blog 27 Nov, 2015</p>
      <img src="/img/kumpul-article.jpg" alt="Kumpul Coworking blog" />
    </div>
  </section>
