<% if(!user) { %>
  <% layout( 'layout' ) -%>
  <%- partial('nav') %>
<% } else { %>
  <% layout( 'login-layout' ) -%>
  <%- partial('login-nav') %>
<% } %>

  <section id="postsubmit">
    <div class="container" style="text-align: center; min-height: 400px; padding-top: 15px;">
      <h1>Success</h1>
      <p>
      Your message was submitted successfully! We'll get back to you as soon as possible. Thanks!
      </p>
    </div>
  </section>
