<% layout( 'layout' ) -%>
<%- partial('nav') %>

<div class="tos">
<h1>Design My Day Privacy Policy</h1>
<p>
We at Design My Day know that our users care about how their personal information is used and shared, and we take your privacy seriously. This Privacy Policy covers our treatment of personally identifiable information ("Personal Information") that we gather when you access or use the Design My Day application (“App”).
</p>
<p>
We may amend this Privacy Policy from time to time.  If we make material changes in the way we use Personal Information, we will notify you by posting an announcement through the Application.  You are bound by any changes to the Privacy Policy when you use the Application after being notified of such changes.
</p>

<p>
<h2>I. COLLECTION OF PERSONAL INFORMATION</h2>
<ul class="tos">
<li>We Do Not Collect Any Personal Information Within the Application: When you download and use the Application, we don’t require you to provide any Personal Information.  Rather, we will ask you to create an anonymous username to identify you within the Application.  However, note that if you decide to provide Personal Information instead of an anonymous username, we and other users may be able to identify you.  To help you keep track of your account, we create a unique, anonymous device identification that’s associated with your Account (“Device ID”).  If you reinstall the Application, we can re-associate your Account by using this Device ID.</li>

<li>We Collect Your Email Address, If You Provide It To Us:  You may opt to share your email address.  If you provide us your email or contact us by email, we may store your email in order to respond to your requests or questions (including as required to enable you to re-associate an account on a new phone or to enable you to delete your account).  In addition, you may occasionally receive email and other communications from us, such as communications relating to your Account, newsletters, or responses to customer service requests.</li>

<li>We Do Not Collect Any Personal Information from Children: We do not knowingly collect or solicit Personal Information from anyone under the age of 13. If you are under 13, please do not send any information about yourself to us, including your name, address, telephone number, or email address.</li>

<li>We Collect General Usage Information:  The Application may collect anonymous usage information.  We may use this data in aggregate form, that is, as a statistical measure, but not in a manner that would identify you personally (“Aggregate Information”).</li>

<li>We Collect User Content:  The Application allows you to provide content, which is public. All content submitted by you may be retained by us indefinitely, even after you terminate your Account. We may continue to disclose such content to third parties in a manner that does not reveal Personal Information, as described in this Privacy Policy.</li>
</ul>
</p>
<p>
<h2>II. SHARING OF PERSONAL INFORMATION We will share your Personal Information only as follows:.</h2>
<ul class="tos">
<li>Public Information: Some or all of your activity on and through the Application is public by default. This may include, but is not limited to, content you have posted publicly on the Application.  In addition, your anonymous username and other information you enter may be displayed to other users to facilitate user interaction within the Application.  We may share some or all of this information with third parties in connection with research, analytics, or similar purposes.</li>

<li>Agents: We may employ other companies and people to perform tasks on our behalf and may need to share your Personal Information with them to provide services to you.    Unless we tell you differently, our agents do not have any right to use the Personal Information we share with them beyond what is necessary to assist us.</li>

<li>Business Transfers:  If we or substantially all of our assets are acquired, or if we go out of business, enter bankruptcy, or go through some other change of control, Personal Information would be one of the assets transferred to or acquired by a third party.</li>

<li>Protection of Design My Day and Others: We reserve the right to disclose any information that is necessary to comply with law or court order, enforce or apply our Terms of Use, or protect the rights, property, or safety of Design My Day, our employees, our users, or others.</li>

<li>With Your Consent: Except as set forth above, you will be notified when your Personal Information may be shared with third parties in personally identifiable form, and will be able to prevent the sharing of this information.</li>
</ul>
</p>
<p>
<h2>III. Questions or Concerns</h2>

If you have any questions or concerns regarding our privacy policies, please send us a detailed message info@designmyday.co, and we will try to resolve your concerns.
</p>
</div>
