<% layout( 'login-layout' ) -%>

<% if(user) { %>
<%- partial('login-nav') %>

  <section id="profile">

    <p>This will soon be the user profile.</p>

  </section>

<% } else { %>
  <div>
    <p>User not logged in <a href="/">Home</a></p>
  </div>
<% } %>
