      <div id="cd-signup"> <!-- sign up form -->
        <form class="cd-form" role="form" action="/register" method="post" accept-charset="utf-8">
          <p class="fieldset">
            <label class="image-replace cd-email" for="email">Email:</label>
            <input type="text" name="email" class="full-width has-padding has-border" id="email" placeholder="email" required autofocus />
            <span class="cd-error-message">Error!</span>
          </p>
          <p class="fieldset">
            <label class="image-replace cd-username" for="username">Username:</label>
            <input type="text" name="username" class="full-width has-padding has-border" id="username" placeholder="username" required />
            <span class="cd-error-message">Error!</span>
          </p>
          <p class="fieldset">
            <label class="image-replace cd-password" for="password">Password:</label>
            <input type="password" name="password" class="full-width has-padding has-border" id="password" placeholder="password" required />
            <span class="cd-error-message">Error!</span>
          </p>
          <p class="fieldset">
            <label class="image-replace cd-password" for="confirm">Confirm Password:</label>
            <input type="password" name="confirm" class="full-width has-padding has-border" id="confirm" placeholder="confirm password" required />
            <span class="cd-error-message">Error!</span>
          </p>
          <p style="font-style: italic;">Password must be between 7 and 20 characters and contain at least one numeric digit and at least one special character.</p>
          <p class="fieldset">
            <label class="image-replace cd-citycountry" for="yearborn">City/Country:</label>
            <input type="text" class="ff_elem full-width has-padding has-border" name="citycountry" value="" id="f_elem_city" placeholder="City/Country" />
          </p>
          <p class="fieldset">
            <label class="image-replace cd-yearborn" for="yearborn">Year Born:</label>
            <input type="text" name="yearborn" class="full-width has-padding has-border" id="yearborn" placeholder="yearborn" required />
            <span class="cd-error-message">Error!</span>
          </p>
          <p class="fieldset">
            <input id="signup-submit" type="submit" value="Sign Up" class="full-width has-padding" />
          </p>
        </form>
        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-signup -->
