  <% layout( 'layout' ) -%>

<% if(!valid) { %>
  <section>
    <div class="container" style="min-height: 400px;">
      Invalid invite link provided. Please check the link and try again. If you still have problems fill out the contact form with details.
    </div>
  </section>
<% } else { %>
  <section>
    <div class="container">
      <h1>Design My Day</h1>
      <div>
<% if(user.role === 'admin') { %>
        <form id="register-form" class="cd-form" role="form" action="/api/register" method="post" accept-charset="utf-8">
          <p class="fieldset">
            <label class="image-replace cd-email" for="email">Email:</label>
            <input type="text" name="email" class="full-width has-padding has-border" id="email" value="" placeholder="email" required />
            <span class="cd-error-message">Error!</span>
          </p>
          <p style="font-style: italic;">Your email address is not shared. We only use it for password recovery and for allowing the app to send you followup messages.</p>
<% } else { %>
        <form class="cd-form" role="form" action="/register" method="post" accept-charset="utf-8">
<% } %>
          <p class="fieldset">
            <label class="image-replace cd-username" for="username">Username:</label>
            <input type="text" name="username" class="full-width has-padding has-border" id="username" placeholder="username" required />
            <span class="cd-error-message">Error!</span>
          </p>
          <p style="font-style: italic;">Username should not contain spaces or special characters. Since you will be sharing your feelings, we recommend choosing a username that does not identify you. This is the identity you will be referred to in the app.</p>
          <p class="fieldset">
            <label class="image-replace cd-password" for="password">Password:</label>
            <input type="password" name="password" class="full-width has-padding has-border" id="password" placeholder="password" required />
            <span class="cd-error-message">Error!</span>
          </p>
          <p class="fieldset">
            <label class="image-replace cd-password" for="confirm">Confirm Password:</label>
            <input type="password" name="confirm" class="full-width has-padding has-border" id="confirm" placeholder="confirm password" required />
            <span class="cd-error-message">Error!</span>
          </p>
          <p style="font-style: italic;">Password must be between 7 and 20 characters and contain at least one numeric digit and at least one special character.</p>
          <p class="fieldset">
            <label class="image-replace cd-citycountry" for="citycountry">City, Region, Country:</label>
            <input type="text" class="ff_elem full-width has-padding has-border" name="citycountry" value="" id="f_elem_city" placeholder="City, Region, Country" />
          </p>
          <p class="fieldset">
            <label class="image-replace cd-yearborn" for="yearborn">Year Born:</label>
            <input type="text" name="yearborn" class="full-width has-padding has-border" id="yearborn" placeholder="yearborn" required />
            <span class="cd-error-message">Error!</span>
          </p>
          <p style="font-style: italic;">Why do we ask this? Some activities are more popular for certain age groups and by incorporating year born the crowd's recommendations can be customized better. Other users will not see your year born in your profile. If you do not feel comfortable using your actual year born, you can enter any age you like.</p>
<% if(user.role !== 'admin') { %>
          <hr />
          <p class="fieldset">
            <label class="image-replace cd-password" for="code">Invitation Code:</label>
            <input type="text" name="code" class="full-width has-padding has-border" id="code" value="<%= code %>" required />
            <span class="cd-error-message">Error!</span>
          </p>
          <p class="fieldset">
            <label class="image-replace cd-email" for="email">Email:</label>
            <input type="text" name="email" class="full-width has-padding has-border" id="email" value="<%= email %>" placeholder="email" required />
            <span class="cd-error-message">Error!</span>
          </p>
<% } %>
          <p class="fieldset">
            <input id="signup-submit" type="submit" value="Sign Up" class="full-width has-padding" />
          </p>
          <p style="font-style: italic;">
          By clicking Sign Up you agree to the Design My Day <a href="/privacy" target="_blank">Privacy Policy</a> and <a href="/tos" target="_blank">Terms of Service</a>.
          </p>
        </form>
      </div>
    </div>
  </section>
<% } %>
