<% layout( 'layout' ) -%>
  <section id="reset">
    <div class="container">
      <h1>Reset Password</h1>
      <div id="cd-reset-password-now">
        <form class="cd-form" role="form" method="post" accept-charset="utf-8">
          <p class="fieldset">
            <label class="image-replace cd-password" for="password">New Password</label>
            <input class="full-width has-padding has-border" name="password" id="password" type="password" placeholder="New password">
            <span id="password-message" class="cd-error-message">Error!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="confirm">Confirm Password</label>
            <input class="full-width has-padding has-border" name="confirm" id="confirm" type="password" placeholder="Confirm password">
          </p>

          <p style="font-style: italic;">Password must be between 7 and 20 characters and contain at least one numeric digit and at least one special character.</p>

          <p class="fieldset">
            <input id="pw-reset-button" class="full-width has-padding" type="submit" value="Update password">
          </p>
        </form>
      </div> <!-- cd-reset-password -->
    </div>
  </section>
