<% if(!user) { %>
  <% layout( 'layout' ) -%>
  <%- partial('nav') %>
<% } else { %>
  <% layout( 'login-layout' ) -%>
  <%- partial('login-nav') %>
<% } %>

  <section>
    <div class="container">
      <h3 class="team">Our Startup Weekend Bali 2015 pitch video</h3>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9CWL3DrGo1g?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <p>
      The startup weekend united a diverse group of professionals, originally from the UK, Sweden, South Africa, Ukraine, Russia, and the USA. We came together at Hubud, a co-working space nestled in the ricefields of Ubud, for Startup Weekend Bali 2015. From the original team were Jacob Madden, Sara Gelfgren, Pedram Parasmand, Laura Thomas, Michael Babiy, Karen Wilmot, Oleg Iakovlev and Mikhail Eraga. We were later joined and supported by Alexis Matos and Rachel Allan.
      </p>
      </div>
    </div>
  </section>
