<% layout( 'layout' ) -%>

<%- partial('nav') %>

  <section class="team">
    <div class="container team-container">
      <h3 class="team">Experienced International Team</h3>
      <div class="col-md-2">
        <img src="/img/Jacob-Madden.png" alt="Jacob Madden" />
        <p class="team-name">Jacob Madden</p>
        <p>Web Development and Artificial Intelligence</p>
        <p>New York / Bali</p>
      </div>
      <div class="col-md-2">
        <img src="/img/Rachel-Allan.png" alt="Rachel Allan" />
        <p class="team-name">Rachel Allan</p>
        <p>Community Strategy and Development</p>
        <p>London / Bali</p>
      </div>
      <div class="col-md-2">
        <img src="/img/Pedram-Parasmand.png" alt="Pedram Parasmand" />
        <p class="team-name">Pedram Parasmand</p>
        <p>Health Engagement and Well-Being</p>
        <p>London / Bali</p>
      </div>
      <div class="col-md-2">
        <img src="/img/dmd-logo-155x155.jpg" alt="Desgign My Day logo" />
      </div>
      <div class="col-md-2">
        <img src="/img/Alexis-Matos.png" alt="Alexis Matos" />
        <p class="team-name">Alexis Matos</p>
        <p>Marketing and Film</p>
        <p>Oslo / Florence / Coimbra</p>
      </div>
      <div class="col-md-2">
        <img src="/img/Michael-Babiy.png" alt="Michael Babiy" />
        <p class="team-name">Michael Babiy</p>
        <p>Business Development</p>
        <p>Bali</p>
      </div>
    </div>

    <div class="container">
      <div class="team">
        <p>
        <span class="thick"><a class="team-name" href="https://www.linkedin.com/in/jacobmadden" target="_blank">Jacob Madden</a></span>, a full stack software developer and entrepreneur from New York, pitched the idea opening night of Startup Weekend Bali. Jacob’s professional experiences include big data analytic reporting technologies, AI for consumer robots, and semantic web prototypes.
        </p>
        <p>
        <span class="thick"><a class="team-name" href="https://uk.linkedin.com/in/rachel-allan-75084a4" target="_blank">Rachel Allan</a></span>, Speaker, coach, community investment consultant and adventurer with a wealth of experience in building communities and strong international connections including in both London and Bali.
        </p>
        <p>
        <span class="thick"><a class="team-name" href="https://uk.linkedin.com/in/pedram-parasmand-25782b6" target="_blank">Pedram Parasmand</a></span>, a leadership development and well-being happiness coach based out of London, is the Co-founder and Director of The Skills Lab and also a non-exec Director of Spark+Mettle, a charity that uses coaching, tech and collaborative events to build character, soft skills and networks for marginalised young people.
        </p>
        <p>
        <span class="thick"><a class="team-name" href="https://no.linkedin.com/in/alexandria-alexis-matos-07298624" target="_blank">Alexis Matos</a></span>, a marketing expert and journalist with multiple home bases in Europe.
        </p>
        <p>
        <span class="thick"><a class="team-name" href="https://ru.linkedin.com/in/mike-babiy-b1197441/en" target="_blank">Mike Babiy</a></span>, a digital nomad and entrepreneur from Siberia with a passion for habit-building, is the Founder of Magazup, the first booking engine for outdoor activities in Russia. Mike has expertise in business management and customer experience.
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h3 class="team">Our Startup Weekend Bali pitch video</h3>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9CWL3DrGo1g?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <p>
      The startup united a diverse group of professionals, originally from the UK, Sweden, South Africa, Ukraine, Russia, and the USA. We came together at Hubud, a co-working space nestled in the ricefields of Ubud, for Startup Weekend Bali 2015.
      </p>

      <h3 class="team">Advisors from the Original Team</h3>
      <div class="team">
        <img class="team1" src="/img/mikhail.jpg" alt="Mikhail Eraga" /><img class="team2" src="/img/dmd-team.jpg" alt="Design My Day team" />
        <p>
        <span class="thick">Sara Gelfgren</span>, a Swedish freelance illustrator normally based out of London, is on a six months, six cities illustrated adventure around the world (<a href="http://illustratour.com" target="_blank">illustratour.com</a>). Her clients include Houzz, Google, Penfield and Greenpeace.
        </p>
        <p>
        <span class="thick">Mikhail Eraga</span>, an urban videographer gone rural, is the Hubud in-house video guy and extraordinaire at all things film and editing.
        </p>
        <p>
        <span class="thick">Laura Thomas</span>, a community builder and health coach based out of London, is the founder of Happy Sugar Habits and Leader of the Tribewanted Bali co-working group. She brings a vast expertise in sugar addiction, intuitive eating and mindfulness.
        </p>
        <p>
        <span class="thick">Karen Wilmot</span>, an entrepreneurial Midwife and Childbirth Educator from South
        Africa, is the founder of the Virtual Midwife (<a href="http://www.thevirtualmidwife.com" target="_blank">thevirtualmidwife.com</a>). Karen’s working from Bali to create new and innovate ways of providing interactive online learning and support for women around the world.
        </p>
        <p>
        <span class="thick">Oleg Iakovlev</span>, a serial entrepreneur from Ukraine, brings expertise in starting up and managing niche-targeted business websites and internet marketing. Oleg’s startups include a Ukrainian alternative to craigslist as well as daily apartment rental, billboard ad and internet marketing agencies.
        </p>
      </div>
    </div>
  </section>
