    <section class="section-testimonials text-xs-center bg-inverse">
      <div class="container">
        <h3 class="sr-only">Testimonials</h3>
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <blockquote class="blockquote">
                <h3>Jacob Madden</h3>
                <div>Full stack software developer and entrepreneur from New York specializing in web development
and artificial intelligence</div>
                <img src="//designmyday.s3.amazonaws.com/foo33_1459951391233_Jacob-Madden.png" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">The natural healing force in each one of us is the greatest force in getting well.</p>
                <footer>Hippocrates</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <h3>Rachel Allan</h3>
                <div>Speaker, coach, community investment consultant and adventurer</div>
                <img src="//designmyday.s3.amazonaws.com/foo33_1459951452541_Rachel-Allan.png" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">Any action is often better than no action, especially if you have been stuck in an unhappy situation for a long time.</p>
                <footer>Eckhart Tolle</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <h3>Michael Bibiy</h3>
                <div>Digital nomad and entrepreneur with a passion for habit-building</div>
                <img src="//designmyday.s3.amazonaws.com/foo33_1459951478578_Michael-Babiy.png" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">Motivation is what gets you started. Habit is what keeps you going.</p>
                <footer>Jim Rohn</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <h3>Pedram Parasmand</h3>
                <div>Leadership development and well-being happiness coach</div>
                <img src="//designmyday.s3.amazonaws.com/foo33_1459951501120_Pedram-Parasmand.png" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">This is how you get unstuck. You reach.</p>
                <footer>Cheryl Strayed</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <h3>Alexis Matos</h3>
                <div>Marketing expert, filmmaker and journalist</div>
                <img src="//designmyday.s3.amazonaws.com/foo33_1459951523538_Alexis-Matos.png" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">The way to get unstuck is to start down the wrong path, right now. You might not end up with perfect, but it's significantly more valuable than being stuck.</p>
                <footer>Seth Godin</footer>
              </blockquote>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li class="active"><img src="img/Jacob-Madden.png" alt="Navigation avatar" data-target="#carousel-testimonials" data-slide-to="0" class="img-fluid img-circle"></li>
            <li><img src="img/Rachel-Allan.png" alt="Navigation avatar" data-target="#carousel-testimonials" data-slide-to="1" class="img-fluid img-circle"></li>
            <li><img src="img/Michael-Babiy.png" alt="Navigation avatar" data-target="#carousel-testimonials" data-slide-to="2" class="img-fluid img-circle"></li>
            <li><img src="img/Pedram-Parasmand.png" alt="Navigation avatar" data-target="#carousel-testimonials" data-slide-to="3" class="img-fluid img-circle"></li>
            <li><img src="img/Alexis-Matos.png" alt="Navigation avatar" data-target="#carousel-testimonials" data-slide-to="4" class="img-fluid img-circle"></li>
          </ol>
        </div>
      </div>
      <div>
        <a href="/team" alt="Design My Day team">click here for more about our team</a>
      </div>
    </section>
