    <section class="section-video bg-inverse text-xs-center wp wp-4">
      <h3 class="sr-only">Video</h3>
      <video hidden id="demo_video" class="video-js vjs-default-skin vjs-big-play-centered" controls data-setup='{}'>
      </video>
    </section>
